<div id="app">
	<input type="file" @change="upload($event)" multiple>	
	<div class="content">
		<div class="file" v-for="v in files">
			<span>\{{v.name}}</span>
			<div class="jd">
				<div :style="{width:v.jd+'%'}"></div>
			</div>
			<span>\{{v.jd}}%</span>
		</div>
	</div>
</div>
<style>
	.file{
		height: 40px;
		line-height: 40px;
		overflow: hidden;
	}
	.file .jd{
		display: inline-block;
		width: 200px;
		height: 40px;
		float: left;
	}
	.file .jd div{
		display: block;
		height: 100%;
		width: 0%;
		background: green;
	}
	.file span{
		float: left;
	}
</style>
{{#section 'jq'}}
<script src="https://cdn.bootcss.com/vue/2.5.16/vue.min.js"></script>
<script>
	new Vue({
		el:'#app',
		data:{
			files:[]
		},
		mounted:function(){},
		methods:{
			upload:function(e){
				var _this = this;
				var files = e.target.files;
				var k = true;
				for(i in files){
					var isfile = this.files.some(function(obj){
							return obj.name == files[i].name;
						});
					if(isfile){
						k = false;
					}
				}
				if(!k){
					alert('已有此文件');
					$(e.target).val('');
					return;
				}
				for(i in files){
					if(!isNaN(i)){
						var fd = new FormData();
						fd.append('file',files[i]);
						this.files.push({
							name:files[i].name,
							jd:0
						});
						$.ajax({
							url:'/users/upload',
							type:'post',
							data:fd,
							contentType:false,
							processData:false,
							success:function(){
								console.log('ok');
							},
							xhr:function(){
								var xhr = $.ajaxSettings.xhr();
								if(!xhr.name){
									xhr.name = files[i].name;
								}
								if(xhr.upload){
									xhr.upload.addEventListener('progress',function(e){
										_this.files.map(function(obj){
											if(obj.name === xhr.name){
												obj.jd = parseInt(e.loaded/e.total*100);
											}
											return obj;
										});
									});
								}
								return xhr;
							}
						});
					}
				}

				$(e.target).val('');
			}
		}
	});
</script>
{{/section}}