<div class="comWidth">
	<h3>registered form</h3>
	<form action="newsletter" method="post" >
		<div class="form-group">
		 	<label for="exampleInputName">Name</label>
		 	<input type="text" class="form-control" required id="exampleInputName" name="name" placeholder="Name">
		</div>
	   <div class="form-group">
	    	<label for="exampleInputEmail1">Email address</label>
	    	<input type="email" class="form-control" required id="exampleInputEmail1" name="email" placeholder="Email">
	   </div>
	   <button type="submit" class="btn btn-default">Submit</button>
	</form>
</div>