.clearfix:after{
	clear:both;
	content: "";
	display: block;
	height: 0;
	visibility: hidden;
}
h1{
	text-align: center;
}
.weather{
	float:left;
	width:200px;
	border:1px solid gray;
	box-shadow:2px 2px 2px #000;
	padding: 20px;
}
#fortune{
	float: left;
	margin-left: 50px;
	width: 300px;
	background: gray;
	padding: 10px;
}
